* {
    margin: 0 auto;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

nav {
    height: 120px;
    line-height: 120px;
    display: flex;
    background-color: #f7f7f7;
    user-select: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav h3 {
    line-height: 120px;
    font-size: 2.5rem;
}

section {
    margin-top: 70px;
    width: 70%;
}

table {
    cursor: default;
    margin-bottom: 200px;
}

a {
    cursor: pointer;
}

.swal {
    font-size: 1.8rem !important;
    user-select: none;
}

footer {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    position: absolute;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 15px
}
    
::-webkit-scrollbar-track {
    background: #808080;
    border-radius: 0px
}
    
::-webkit-scrollbar-thumb {
    background: #9b4dca;
    border-radius: 0px
}